<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>h3Class>
    </Header>
    <Snippet>
      <Code Language="CSharp">
		  <![CDATA[(GetCreationTime(), "h3", "class:$selected$$end$");]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>  

